<app-dashboard>
    <div class="page-header">
        <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-thought-bubble"></i>
            </span> manage Testimonial table
        </h3>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th> Customer Name </th>
                            <th> Image </th>
                            <th> Feedback </th>
                            <th> Testimonial Status </th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let testimonials of testimonial.data">
                            <td>{{testimonials.id}}</td>
                            <td>{{testimonials.name}}</td>
                            <td><img src="../../../assets/images/{{testimonials.imagepath}}" style="height: 50px;width:50px;"></td>
                            <td>{{testimonials.feedback }}</td>
                            <td>{{testimonials.status}}</td>
                            <td class="col-lg-2">
                                <button class="btn btn-secondary" (click)="openUpdateDailog(testimonials.id,
                                testimonials.name,testimonials.feedback ,testimonials.status,testimonials.imagepath)">Update</button>
                            </td>
                            <td class="col-lg-2">
                                <button class="btn btn-danger" (click)="openDeleteDialog(testimonials.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-dashboard>


<ng-template #callUpdateDailog>
    <form [formGroup]="UpdateForm">
        <ul>
            <li>
                <h3 style="color: red;">
                    Name
                </h3>
                <p>{{testtemonialsData.name}}</p>
            </li>

            <li>
                <h3 style="color: red;">
                    FeedBack
                </h3>
                <p>{{testtemonialsData.feedback}}</p>
            </li>



            <li>
                <label for="cars">Update the status</label>
                <select formControlName="status">
                    <option [ngValue]="null" disabled>Choose your status</option>

                    <option *ngFor="let item of testimonial.test" [ngValue]="item.status"> {{item.status}}</option>

                </select>
            </li>
        </ul>
        <button (click)="update()">Update</button>
    </form>
</ng-template>

<ng-template #callDeleteDialog>
    <h2 class="text-uppercase">Are You Sure You Want To Delete This Testimonial!</h2>
    <mat-dialog-actions align="end">
        <button class="btn btn-danger" mat-dialog-close="yes">Yes</button>
        <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close="no">No</button>
    </mat-dialog-actions>
</ng-template>