<app-dashboard>
    <div class="page-header">
        <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-thought-bubble"></i>
            </span> manage Testimonial table
        </h3>
    </div>

    <table style="margin:0 auto">
        <tr>
            <th> Testimonial number </th>
            <th> customer name </th>
            <th> Feed back </th>
            <th> Image </th>
            <th> Testimonial Status </th>
            <th> Opreation</th>
        </tr>
        <tr *ngFor="let testimonials of testimonial.data">
            <td>{{testimonials.id}}</td>
            <td>{{testimonials.name}}</td>
            <td>{{testimonials.feedback }}</td>
            <td><img src="../../../assets/images/{{testimonials.imagepath}}" style="height: 50px;width:50px;"></td>
            <td>
                {{testimonials.status}}
            </td>
            <td>
                <button class="btn btn-danger" (click)="openDeleteDialog(testimonials.id)">Delete</button>
                <button (click)="openUpdateDailog(testimonials.id,
            testimonials.name,testimonials.feedback ,testimonials.status,testimonials.imagepath)">Update</button>
            </td>
        </tr>
    </table>
</app-dashboard>


<ng-template #callUpdateDailog>
    <form [formGroup]="UpdateForm">
        <ul>
            <li>
                <h3 style="color: red;">
                    Name
                </h3>
                <p>{{testtemonialsData.name}}</p>
            </li>

            <li>
                <h3 style="color: red;">
                    FeedBack
                </h3>
                <p>{{testtemonialsData.feedback}}</p>
            </li>



            <li>
                <label for="cars">Update the status</label>
                <select formControlName="status">
                    <option [ngValue]="null" disabled>Choose your status</option>

                    <option *ngFor="let item of testimonial.test" [ngValue]="item.status"> {{item.status}}</option>

                </select>
            </li>
        </ul>
        <button (click)="update()">Update</button>
    </form>
</ng-template>



<ng-template #callDeleteDialog>
    <h2>Are You Sure you want to delete this item</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">No</button>
        <button mat-button mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>

</ng-template>