<button class="btn btn-primary" (click)="openCreatedialog()">Create New </button>

<input type="number" id="cname" name="searchValue" [value]="searchValue" (change)="InputValue($event)">
<button (click)="searchAbout()">Search</button>

<table style="margin: 0 auto;">
  <tr>
    <th>ID</th>
    <th>title </th>
    <th>information </th>
    <th>Image Course</th>
    <th>Opreation</th>
  </tr>
  <tr *ngFor="let item of home.data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.information}}</td>
    <td><img src="../../../assets/images/{{item.imagepath}}" style="height: 50px;width: 50px;"></td>
    <td><button class="btn btn-danger" (click)="openDeleteDialog(item.id)">Delete</button>


      <button class="btn btn-secondary"
        (click)="openUpdateDialog(item.id,item.title,item.information,item.imagepath)">Update</button>
    </td>



  </tr>
</table>



<ng-template #callUpdateDialog>

  <form [formGroup]="updatForm">
    <ul>

      <li>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter the title </mat-label>
          <input type="text" matInput formControlName="title" [(ngModel)]="about.title" placeholder="title ">
          <mat-error *ngIf="updatForm.controls['title'].hasError('required')">
            title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </li>
      <li>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter the information </mat-label>
          <input type="text" matInput formControlName="information" [(ngModel)]="about.information"
            placeholder="information ">
          <mat-error *ngIf="updatForm.controls['information'].hasError('required')">
            information is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </li>
      <li>


      <li>
        <input type="file" #file placeholder="Choose Image" formControlName="imagepath" [(ngModel)]="about.imagepath"
          (change)="uploadFile(file.files)" style="display:none;">
        <button class="btn btn-dark" (click)="file.click()">Upload Image</button>
      </li>
    </ul>
    <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="updateCourse()">Update</button>

  </form>


</ng-template>


<ng-template #callDeleteDialog>
  <h2>Are You Sure you want ti delete this item</h2>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="no">No</button>
    <button mat-button mat-dialog-close="yes">yes</button>
  </mat-dialog-actions>

</ng-template>


<ng-template #search>

  <table style="margin: 0 auto;">
    <tr>
      <th>ID</th>
      <th>title </th>
      <th>information </th>
      <th>Image Course</th>
      <th>Opreation</th>
    </tr>
    <tr *ngFor="let item of home.results">
      <td>{{item.id}}</td>
      <td>{{item.title}}</td>
      <td>{{item.information}}</td>
      <td><img src="../../../assets/images/{{item.imagepath}}" style="height: 50px;width: 50px;"></td>
      <td><button class="btn btn-danger" (click)="openDeleteDialog(item.id)">Delete</button>


        <button class="btn btn-secondary"
          (click)="openUpdateDialog(item.id,item.title,item.information,item.imagepath)">Update</button>
      </td>



    </tr>
  </table>


</ng-template>