<app-dashboard>
    <div class="page-header mt-4">
        <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-account-child"></i>
            </span> manage students table
        </h3>
        <button class="btn btn-success" (click)="openCreatedialog()">Create New</button>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th> Name </th>
                            <th> X-Home </th>
                            <th> Y-Home </th>
                            <th> Grade </th>
                            <th> Status </th>
                            <th> Full Name</th>
                            <th> Bus Number</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of home.student">
                            <td>{{student.id}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.xhome}}</td>
                            <td>{{student.yhome}}</td>
                            <td>{{student.grade}}</td>
                            <td>{{student.roundStatus}}</td>
                            <td>{{student.fullName}}</td>
                            <td>{{student.busnumber}}</td>
                            <td>
                                <button class="btn btn-secondary" (click)="openUpdateDailog(student.id,student.name, student.xhome, student.yhome, student.grade, student.status, student.fullName, student.busnumber)">Update</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="openDeleteDialog(student.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-dashboard>

<ng-template #callCreateDialog>
    <h2 class="text-uppercase"> Add New Student </h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="CreateForm" class="example-form">
            <ul>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Student Name </mat-label>
                        <input type="text" matInput formControlName="name" placeholder="Enter Student Name">
                        <mat-error *ngIf="CreateForm.controls['name'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter X-Home </mat-label>
                        <input type="text" matInput formControlName="xhome" placeholder="Enter X-Home">
                        <mat-error *ngIf="CreateForm.controls['xhome'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Y-Home </mat-label>
                        <input type="text" matInput formControlName="yhome" placeholder="Enter Y-Home">
                        <mat-error *ngIf="CreateForm.controls['yhome'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Student Grade </mat-label>
                        <input type="text" matInput formControlName="grade" placeholder="Enter Student Grade">
                        <mat-error *ngIf="CreateForm.controls['grade'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Round Status</h4>
                    <select formControlName="roundStatus">
                        <option [ngValue]="null" disabled>Choose Round Status</option>
                        <option *ngFor="let item of home.status" [ngValue]="item.roundStatus"> {{item.roundStatus}}</option>
                    </select>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Bus Number</h4>
                    <select formControlName="busnumber">
                        <option [ngValue]="null" disabled>Choose Bus Number</option>
                        <option *ngFor="let item2 of home.busnumber" [ngValue]="item2.busnumber"> {{item2.busnumber}}</option>
                    </select>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Parent Name</h4>
                    <select formControlName="fullName">
                        <option [ngValue]="null" disabled>Choose Parent Name</option>
                        <option *ngFor="let item1 of home.fullName" [ngValue]="item1.fullName"> {{item1.fullName}}</option>
                    </select>
                </li>
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button class="btn btn-success" [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
            <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>

<ng-template #callUpdateDailog>
    <h2 class="text-uppercase"> Update User </h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="UpdateForm">
            <ul>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Student Name </mat-label>
                        <input type="text" matInput formControlName="name" [(ngModel)]="studentData.name" placeholder="Enter Student Name">
                        <mat-error *ngIf="UpdateForm.controls['name'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter X-Home </mat-label>
                        <input type="text" matInput formControlName="xhome" [(ngModel)]="studentData.xhome" placeholder="Enter X-Home">
                        <mat-error *ngIf="UpdateForm.controls['xhome'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Y-Home </mat-label>
                        <input type="text" matInput formControlName="yhome" [(ngModel)]="studentData.yhome" placeholder="Enter Y-Home">
                        <mat-error *ngIf="UpdateForm.controls['yhome'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Student Grade </mat-label>
                        <input type="text" matInput formControlName="grade" [(ngModel)]="studentData.grade" placeholder="Enter Student Grade">
                        <mat-error *ngIf="UpdateForm.controls['grade'].hasError('required')">
                            field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Round Status</h4>
                    <select formControlName="roundStatus">
                        <option [ngValue]="null" disabled>Choose Round Status</option>
                        <option *ngFor="let item of home.status" [ngValue]="item.roundStatus"> {{item.roundStatus}}</option>
                    </select>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Bus Number</h4>
                    <select formControlName="busnumber">
                        <option [ngValue]="null" disabled>Choose Bus Number</option>
                        <option *ngFor="let item2 of home.busnumber" [ngValue]="item2.busnumber"> {{item2.busnumber}}</option>
                    </select>
                </li>
                <li>
                    <h4 style="margin-bottom: 0px; margin-top: 10px;">Choose Parent Name</h4>
                    <select formControlName="fullName">
                        <option [ngValue]="null" disabled>Choose Parent Name</option>
                        <option *ngFor="let item1 of home.fullName" [ngValue]="item1.fullName"> {{item1.fullName}}</option>
                    </select>
                </li>
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button class="btn btn-success" [mat-dialog-close]="true" (click)="update()" cdkFocusInitial>Update</button>
            <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>

<ng-template #callDeleteDialog>
    <h2 class="text-uppercase">Are You Sure You Want To Delete This Student Data!</h2>
    <mat-dialog-actions align="end">
        <button class="btn btn-danger" mat-dialog-close="yes">Yes</button>
        <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close="no">No</button>
    </mat-dialog-actions>
</ng-template>