    @charset "UTF-8";
    html,
    body,
    #login {
        background: url(../../../assets/images/loginBack.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #login {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    #login .login-card {
        background: #fff;
        width: 25rem;
        box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.11);
        margin-top: 10%;
    }
    
    #login .login-card .card-title {
        background-color: #F5BDA1;
        padding: 1.5rem;
    }
    
    #login .login-card .card-title h1 {
        color: #fff;
        text-align: center;
        font-size: 2rem;
    }
    
    #login .login-card .content {
        padding: 2rem 2rem 5rem;
    }
    
    #login .login-card .checkbox {
        color: #b5b5b5;
        font-size: 0.8rem;
    }
    
    #login .login-card .checkbox strong {
        margin-left: 0.5rem;
        color: rgb(155, 155, 155);
        letter-spacing: 1px;
    }
    
    #login .login-card button {
        cursor: pointer;
        font-size: 1.2rem;
        color: #F5BDA1;
        border-radius: 4rem;
        display: block;
        width: 50%;
        right: 25%;
        margin-top: 2%;
        border: 2px solid #F5BDA1;
        padding: 0.9rem 0 1.1rem;
        transition: color 0.5s, border-color 0.5s;
    }
    
    #login .login-card button:hover,
    #login .login-card button:focus {
        color: white;
        border-color: #ff9966;
        background-color: #fbbfa2;
    }
    
    #login .login-card button:active {
        transform: translateY(1px);
    }
    
    .regular-checkbox {
        display: none;
    }
    
    .regular-checkbox+label {
        background-color: #fafafa;
        border: 1px solid #ff9966;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 0px 1px 2px 15px;
        border-radius: 3px;
        display: inline;
        position: relative;
    }
    
    .regular-checkbox:checked+label {
        background-color: #ff9966;
    }
    
    .regular-checkbox:checked+label:after {
        content: "✔";
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 3px;
        color: #ffffff;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    li {
        margin-bottom: 5%;
    }
    
    mat-form-field {
        width: 100%;
    }