<!-- <div class="form-group col-md-4">
    <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
    <button class="btn btn-primary" style="color: red;" (click)="search()">search</button>
  </div> -->


<input type="text" placeholder="Search Student By Name.." name="search" [(ngModel)]="studentName">

<table style="margin:0 auto">
    <tr>
        <th> Strudents Name </th>
    </tr>
    <tr *ngFor="let student of home.student | filter:studentName">
        <td>{{student.name}}</td>
    </tr>
</table>