<button class="btn btn-primary" (click)="openCreatedialog()">Create New </button>

<table style="margin: 0 auto;">
    <tr>
        <th>ID</th>
        <th>Title </th>
        <th>Text </th>
        <th>Image </th>
        <th>Website Home ID </th>
        <th>Opreation</th>
    </tr>
    <tr *ngFor="let item of webHomeService.data">
        <td>{{item.id}}</td>
        <td>{{item.titel}}</td>
        <td>{{item.text}}</td>
        <td><img src="../../../assets/images/{{item.imagepath}}" style="height: 50px;width: 50px;"></td>
        <td>{{item.websiteid}}</td>
        <td><button class="btn btn-danger" (click)="openDeleteDialog(item.id)">Delete</button>
            <button class="btn btn-secondary" (click)="openUpdateDialog(item.id,item.titel,item.text,item.imagepath,item.websiteid)">Update</button>
        </td>
    </tr>
</table>

<ng-template #callCreateDialog>
    <h2 mat-dialog-title> Add New Website Home</h2>
    <mat-dialog-content class="mat-typography">

        <form [formGroup]="CreateForm" class="example-form">
            <ul>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>The Title </mat-label>
                        <input type="text" matInput formControlName="titel" placeholder="Enter Titel">
                        <mat-error *ngIf="CreateForm.controls['titel'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>The Information </mat-label>
                        <input type="text" matInput formControlName="text" placeholder="Enter Information">
                        <mat-error *ngIf="CreateForm.controls['text'].hasError('required')">
                            information is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>

                <li>
                    <input type="file" #file placeholder="Choose Image" formControlName="imagepath" (change)="uploadFile(file.files)" style="display:none;">
                    <button class="btn btn-dark" (click)="file.click()">Upload Image</button>
                </li>
                <li>
                    <select formControlName="websiteid">
                        <option [ngValue]="null" disabled>Choose ID</option>
                        <option *ngFor="let item of webHomeService.webId" [ngValue]="item.id"> {{item.id}}</option>
                    </select>
                </li>
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>

<ng-template #callUpdateDialog>
    <form [formGroup]="UpdatForm">
        <ul>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>The Title </mat-label>
                    <input type="text" matInput formControlName="titel" [(ngModel)]="web.titel" placeholder="Enter Titel">
                    <mat-error *ngIf="UpdatForm.controls['titel'].hasError('required')">
                        title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>The Information </mat-label>
                    <input type="text" matInput formControlName="text" [(ngModel)]="web.text" placeholder="Enter Information">
                    <mat-error *ngIf="UpdatForm.controls['text'].hasError('required')">
                        information is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
            <li>
                <input type="file" #file placeholder="Choose Image" formControlName="imagepath" [(ngModel)]="web.imagepath" (change)="uploadFile(file.files)" style="display:none;">
                <button class="btn btn-dark" (click)="file.click()">Upload Image</button>
            </li>
            <li>
                <select formControlName="websiteid">
                    <option [ngValue]="null" disabled>Choose ID</option>
                    <option *ngFor="let item of webHomeService.webId" [ngValue]="item.id"> {{item.id}}</option>
                </select>
            </li>
        </ul>
        <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="updateWebHome()">Update</button>
    </form>
</ng-template>

<ng-template #callDeleteDialog>
    <h2>Are You Sure You Want To Delete This Item</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">No</button>
        <button mat-button mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>
</ng-template>