<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="" class="logo">
                        <img src="../../../assets/images/templatemo-eduwell.png" alt="EduWell Template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <!-- Home -->
                        <li class="scroll-to-section" style="padding-left: 0%; padding-right: 0%;">
                            <a href="home">Home</a>
                        </li>
                        <!-- About Us -->
                        <li class="scroll-to-section">
                            <a href="about">About Us</a>
                        </li>
                        <!-- Testimonials -->
                        <li class="scroll-to-section" style="padding-left: 0%; padding-right: 0%;">
                            <a href="testimonial">Testimonials</a>
                        </li>
                        <!-- Contact Us -->
                        <li class="scroll-to-section">
                            <a href="contact">Contact Us</a>
                        </li>
                        <!-- Login -->
                        <li *ngIf="isLoggedIn==null" class="scroll-to-section ">
                            <a href="account/login ">Login</a>
                        </li>
                        <!-- Dashboard -->
                        <li *ngIf="isLoggedIn!=null " class="iconStyle " style="padding-left: 0%; padding-right: 0%; ">
                            <a *ngIf="role=='Driver'" href="driver/home"><i class="mdi mdi-account-circle"></i></a>
                            <a *ngIf="role=='Parent'" href="parent/home"><i class="mdi mdi-account-circle"></i></a>
                            <a *ngIf="role=='Teacher'" href="teacher/home"><i class="mdi mdi-account-circle"></i></a>
                            <a *ngIf="role=='Admin'" href="admin/content"><i class="mdi mdi-account-circle"></i></a>
                        </li>
                        <!-- Edit Profile -->
                        <li *ngIf="isLoggedIn!=null " class="iconStyle">
                            <a *ngIf="role =='Driver' || role =='Parent' || role =='Teacher'" href="account/profile"><i class="mdi mdi-account-edit"></i></a>
                            <a *ngIf="role=='Admin'" href="admin/editeprofileadmin"><i class="mdi mdi-account-edit"></i></a>
                        </li>
                        <!-- Logout -->
                        <li *ngIf="isLoggedIn!=null " class="iconStyle " style="padding-left: 0%; padding-right: 0%;">
                            <a href="account/login" (click)="logout() "><i class="mdi mdi-power"></i></a>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->