<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a routerLink="" class="logo">
                        <img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="" class="active">Home</a></li>
                        <li class="scroll-to-section"><a routerLink="about">About Us</a></li>
                        <li class="scroll-to-section"><a routerLink="testimonial">Testimonials</a></li>
                        <li class="scroll-to-section"><a routerLink="contact">Contact Us</a></li>
                        <li class="scroll-to-section"><a routerLink="account/login">Login</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->