<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>
</head>

<body>
    <h1>mymap</h1>
    <div class="my-google-map">
        <div id="map" height="500px" width="100%" style="height: 500px; width: 100%;"></div>
        <!-- <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"></google-map> -->
    </div>
    <div id="sidebar">
        <div>
            <br />
            <button (click)="next()">NEXT</button>

        </div>
        <div id="directions-panel"></div>
    </div>

</body>

</html>