<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>
    <script>
        // Create the script tag, set the appropriate attributes
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?callback=initMap';
        script.async = true;

        // Attach your callback function to the `window` object
        window.initMap = function() {
            // JS API is loaded and available
            console.log("JS API is loaded and available");
        };

        // Append the 'script' element to 'head'
        document.head.appendChild(script);
    </script>
</head>

<body>
    <h1>mymap</h1>
    <div class="my-google-map">
    </div>

</body>

</html>