<app-header></app-header>
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h4>More About Us</h4>
                    <h1>About <span style="color: #dc8cdb;">Us</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="../../../assets/images/{{aboutusPageService.data[2].imagepath}}" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h2><span style="color: #dc8cdb;">{{aboutusPageService.data[2].title}}</span></h2>
                    <p>{{aboutusPageService.data[2].information}}</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="../../../assets/images/{{aboutusPageService.data[0].imagepath}}" alt="">
                            </div>
                            <h4>{{aboutusPageService.data[0].title}}</h4>
                            <p>{{aboutusPageService.data[0].information}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="../../../assets/images/{{aboutusPageService.data[1].imagepath}}" alt="">
                            </div>
                            <h4>{{aboutusPageService.data[1].title}}</h4>
                            <p>{{aboutusPageService.data[1].information}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>Our Teachers</h6>
                    <h4>Our School <em>Teachers</em></h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active" *ngFor="let item of aboutusPageService.teachers">
                                        <img src="../../../assets/images/{{item.imagepath}}" alt="">
                                        <h4>{{item.fullName}}</h4>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>