<app-dashboard>
    <div class="page-header">
        <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-pencil"></i>
            </span> manage footer table
        </h3>
        <button class="btn btn-success" (click)="openCreatedialog()">Create New</button>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>About Text</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let footer of home.footer">
                            <td>{{footer.id}}</td>
                            <td>{{footer.abouttext}}</td>
                            <td>{{footer.city}}</td>
                            <td>{{footer.phone}}</td>
                            <td>{{footer.email}}</td>
                            <td class="col-lg-2">
                                <button class="btn btn-secondary" (click)="openUpdateDialog(footer.id,footer.abouttext
                                ,footer.city,footer.phone , footer.email)">Update</button>
                            </td>
                            <td class="col-lg-2">
                                <button class="btn btn-danger" (click)="openDeleteDialog(footer.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-dashboard>




<ng-template #callCreateDialog>
    <h2 mat-dialog-title> Add Abouts us editor file </h2>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="CreateForm" class="example-form">
            <ul>
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>abouttext </mat-label>
                        <input type="text" matInput formControlName="abouttext" placeholder="abouttext ">
                        <mat-error *ngIf="UpdateForm.controls['abouttext'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>

                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>city</mat-label>
                        <input type="text" matInput formControlName="city" placeholder="city ">
                        <mat-error *ngIf="UpdateForm.controls['city'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>

                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>phone </mat-label>
                        <input type="text" matInput formControlName="phone" placeholder="phone ">
                        <mat-error *ngIf="UpdateForm.controls['phone'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>

                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>email </mat-label>
                        <input type="text" matInput formControlName="email" placeholder="email ">
                        <mat-error *ngIf="UpdateForm.controls['email'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>

<ng-template #callUpdateDailog>
    <form [formGroup]="UpdateForm">
        <ul>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> </mat-label>
                    <input type="text" matInput formControlName="abouttext" placeholder="abouttext ">
                    <mat-error *ngIf="UpdateForm.controls['abouttext'].hasError('required')">
                        title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> </mat-label>
                    <input type="text" matInput formControlName="city" placeholder="city ">
                    <mat-error *ngIf="UpdateForm.controls['city'].hasError('required')">
                        title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> </mat-label>
                    <input type="text" matInput formControlName="phone" placeholder="phone ">
                    <mat-error *ngIf="UpdateForm.controls['phone'].hasError('required')">
                        title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> </mat-label>
                    <input type="text" matInput formControlName="email" placeholder="email ">
                    <mat-error *ngIf="UpdateForm.controls['email'].hasError('required')">
                        title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
        </ul>
        <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="update()">Update</button>
    </form>
</ng-template>

<ng-template #callDeleteDialog>
    <h2 class="text-uppercase">Are You Sure You Want To Delete This Footer Data!</h2>
    <mat-dialog-actions align="end">
        <button class="btn btn-danger" mat-dialog-close="yes">Yes</button>
        <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close="no">No</button>
    </mat-dialog-actions>
</ng-template>