<app-header></app-header>

<!--================Testimonials item Area =================-->
<section class="testimonials_item_area p_100">
    <h2 class="cm_title_br text-capitalize" style="margin-left: 20%; margin-top: 5%; margin-bottom: 5%; font-size: 2.5rem;">What parents say about our school and its drivers</h2>
    <div class="container">
        <div class="testi_item_inner">
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials item Area =================-->

<!--================Your Testimonial Area =================-->
<section class="main_blog_area pb_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">
                    <div class="s_comment_area">
                        <h3 class="cm_title_br">Give Us Your Testimonial</h3>
                        <div class="s_comment_inner">
                            <form class="row contact_us_form" action="http://galaxyanalytics.net/demos/cake/theme/cake-html/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Wrtie message"></textarea>
                                </div>
                                <div class="form-group ">
                                    <button type="submit" value="submit" class="btn btn-primary p-2 ">submit now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Your Testimonial Area =================-->
<app-footer></app-footer>