<app-header></app-header>
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h4>More Testimonials</h4>
                    <h1>Testimonial<span style="color: #dc8cdb;">s</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Testimonials item Area =================-->
<section class="testimonials_item_area p_100">
    <div class="container">
        <div class="col-lg-12">
            <div class="section-heading">
                <h6>Testimonials</h6>
                <h4>Children's Parent's <em>Opinions</em></h4>
            </div>
        </div>
        <div class="testi_item_inner" *ngFor="let item of this.testomonal.data">
            <div class="media" *ngIf="item.status=='approved'">
                <div class="d-flex">
                    <img src="../../../assets/images/{{item.imagepath}}" style="width: 15%;" alt="">
                    <h3>“</h3>
                    <div class="media-body">
                        <p>{{item.feedback}}</p>
                        <h5>- {{item.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials item Area =================-->

<!--================Your Testimonial Area =================-->
<section class="main_blog_area pb_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">
                    <div class="s_comment_area">
                        <div class="section-heading" style="margin-left: 30%;  margin-bottom: 3%;">
                            <h4>Give Us Your <em>Testimonial</em></h4>
                        </div>
                        <div class="s_comment_inner">
                            <form [formGroup]="CreateForm" class="example-form">
                                <ul>
                                    <li>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Enter Your Name </mat-label>
                                            <input type="text" matInput formControlName="name" placeholder="name ">
                                            <mat-error *ngIf="CreateForm.controls['name'].hasError('required')">
                                                Name is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Enter Your Feedback </mat-label>
                                            <input type="text" matInput formControlName="feedback" placeholder="feedback ">
                                            <mat-error *ngIf="CreateForm.controls['feedback'].hasError('required')">
                                                Feedback is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </li>
                                    <li>
                                        <input type="file" #file placeholder="Choose Image" formControlName="imagepath" (change)="uploadFile(file.files)" style="display:none;">
                                        <button class="main-button-gradient" (click)="file.click()">Upload Image</button>
                                    </li>
                                </ul>
                                <button class="main-button-gradient" style="float: right; padding: 0;" mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Your Testimonial Area =================-->
<app-footer></app-footer>