<app-header></app-header>

<!--================Testimonials item Area =================-->
<section class="testimonials_item_area p_100">
    <h2 class="cm_title_br text-capitalize" style="margin-left: 20%; margin-top: 5%; margin-bottom: 5%; font-size: 2.5rem;">What parents say about our school and its drivers</h2>
    <div class="container">
        <div class="testi_item_inner">
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-1.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>A beautiful and clean school that seeks to deliver its students safely.</p>
                    <h5>- Robert joe</h5>
                </div>
            </div>
            <div class="media">
                <div class="d-flex">
                    <img src="assets/images/client-2.png" style="width: 15%;" alt="">
                    <h3>“</h3>
                </div>
                <div class="media-body">
                    <p>School bus drivers are good people and come on time, deliver our children on time.</p>
                    <h5>- Sumaya joe</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials item Area =================-->

<!--================Your Testimonial Area =================-->
<section class="main_blog_area pb_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">
                    <div class="s_comment_area">
                        <h3 class="cm_title_br">Give Us Your Testimonial</h3>
                        <div class="s_comment_inner">
                            <form class="row contact_us_form" method="post" [formGroup]="registerForm" action="" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-md-6">
                                    <fieldset>
                                        <input class="form-control" type="name" name="name" id="name" formControlName="fullName" placeholder="Full Name">
                                        <mat-error *ngIf="registerForm.controls['fullName'].hasError('required')">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </fieldset>
                                </div>
                                <div class="form-group col-md-6">
                                    <fieldset>
                                        <input class="form-control" type="email" name="email" id="email" formControlName="email" placeholder="Your Email">
                                        <mat-error *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.controls['email'].hasError('required')">
                                            Please enter a valid email
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </fieldset>
                                </div>
                                <div class="form-group col-md-12">
                                    <fieldset>
                                        <textarea class="form-control" name="message" id="message" formControlName="message" placeholder="Your Message"></textarea>
                                        <mat-error *ngIf="registerForm.controls['message'].hasError('required')">
                                            Message is <strong>required</strong>
                                        </mat-error>
                                    </fieldset>
                                </div>
                                <div class="form-group ">
                                    <fieldset>
                                        <button type="submit" value="submit" class="btn btn-primary p-2 " [disabled]=" !registerForm.valid ">Send  Message  </button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Your Testimonial Area =================-->
<app-footer></app-footer>