<!-- navbar -->
<nav class="navbar p-0 d-flex flex-row">
    <div class="align-items-center" style="width: 8%;">
        <a class="navbar-brand brand-logo" (click)="manageContent()"><img src="../../../assets/images/templatemo-eduwell.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-logout d-none d-lg-block" style="color: white;">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-home"></i>
                </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block" style="color: white;">
                <a class="nav-link" href="admin/editeprofileadmin">
                    <i class="mdi mdi-account-edit"></i>
                </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block" style="color: white;">
                <a class="nav-link" (click)="logout()">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- partial -->
<div class="container-scroller">
    <!-- partial -->
    <div class="page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar" id="sidebar">
            <ul class="nav" style="margin-top: 10%;">
                <li class="nav-item">
                    <a class="nav-link" (click)="manageContent()">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageRole()">
                        <span class="menu-title">Roles</span>
                        <i class="mdi mdi-briefcase menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageUser()">
                        <span class="menu-title">Users</span>
                        <i class="mdi mdi-account-circle menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageLogin()">
                        <span class="menu-title">Users Login</span>
                        <i class="mdi mdi-login menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageBus()">
                        <span class="menu-title">Buses</span>
                        <i class="mdi mdi-bus menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageStudent()">
                        <span class="menu-title">Students</span>
                        <i class="mdi mdi-account-child menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Route()">
                        <span class="menu-title">Route</span>
                        <i class="mdi mdi-account-check menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageAboutUs()">
                        <span class="menu-title">About Us</span>
                        <i class="mdi mdi-information-outline menu-icon"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" (click)="manageAboutUsEditor()">
                        <span class="menu-title">About Us Editor</span>
                        <i class="mdi mdi-circle-edit-outline menu-icon"></i>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" (click)="manageContactUs()">
                        <span class="menu-title">Contact Us</span>
                        <i class="mdi mdi-phone menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageTestimonial()">
                        <span class="menu-title">Testimonial</span>
                        <i class="mdi mdi-thought-bubble menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageWebsite()">
                        <span class="menu-title">Website</span>
                        <i class="mdi mdi-web menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageWebsiteHome()">
                        <span class="menu-title">Website Home</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="manageFooter()">
                        <span class="menu-title">Footer</span>
                        <i class="mdi mdi-pencil menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="report()">
                        <span class="menu-title">Report</span>
                        <i class="mdi mdi-pencil menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <ng-content></ng-content>
                <app-content *ngif="contentToggle"></app-content>
                <app-role *ngif="roleToggle"></app-role>
                <app-user *ngif="userToggle"></app-user>
                <app-login-manege-data *ngif="loginToggle"></app-login-manege-data>
                <app-bus *ngif="busToggle"></app-bus>
                <app-manage-student *ngif="studentToggle"></app-manage-student>
                <!-- <app-manage-attendance *ngif="attendanceToggle"></app-manage-attendance> -->
                <app-aboutus *ngif="aboutToggle"></app-aboutus>
                <!-- <app-aboutus-editor *ngif="aboutEditorToggle"></app-aboutus-editor> -->
                <app-manage-contact-us *ngif="contactToggle"></app-manage-contact-us>
                <app-testimonial *ngif="testimonialToggle"></app-testimonial>
                <app-website *ngif="websiteToggle"></app-website>
                <app-website-home *ngif="websiteHomeToggle"></app-website-home>
                <app-manage-footer *ngif="footerToggle"></app-manage-footer>
            </div>
        </div>
    </div>
</div>