


<button class="btn btn-primary" (click)="openCreatedialog()">Create New </button>

<table style="margin: 0 auto;">
    <tr>
        <th>id</th>
        <th>rolename </th>
    </tr>
    <tr *ngFor="let item of role.data">
        <td>{{item.id}}</td>
        <td>{{item.rolename}}</td>
        <td><button class="btn btn-danger" (click)="openDeleteDialog(item.id)">Delete</button>


            <button class="btn btn-secondary" (click)="openUpdateDialog(item.id,item.rolename)">Update</button>
        </td>



    </tr>
</table>



<ng-template #callUpdateDialog>

    <form [formGroup]="updatForm">
        <ul>

            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter the Role Name </mat-label>
                    <input type="text" matInput formControlName="rolename"  placeholder="rolename">
                    <mat-error *ngIf="updatForm.controls['rolename'].hasError('required')">
                        rolename is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
           
            
        </ul>
        <mat-dialog-actions align="end">
        <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="updateRole()">Update</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    </form>


</ng-template>


<ng-template #callDeleteDialog>
    <h2>Are You Sure you want to delete this item</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">No</button>
        <button mat-button mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>

</ng-template>


<ng-template #callCreateDialog>
    <h2 mat-dialog-title>Add roles</h2>
    <mat-dialog-content class="mat-typography">

        <form [formGroup]="CreateForm" class="example-form">
            <ul>

                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter the Role Name </mat-label>
                        <input type="text" matInput formControlName="rolename" placeholder="rolename ">
                        <mat-error *ngIf="CreateForm.controls['rolename'].hasError('required')">
                            title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
               
                
            </ul>
        </form>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
        </mat-dialog-actions>


    </mat-dialog-content>
    <ng-template #callDeleteDialog>
        <h2>Are You Sure you want to delete this item</h2>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close="no">No</button>
            <button mat-button mat-dialog-close="yes">yes</button>
        </mat-dialog-actions>

    </ng-template>