<app-dashboard>
    <div class="page-header mt-4">
        <h3 class="page-title text-uppercase" style="font-size: 1.5em; font-weight: 500;">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-phone"></i>
            </span> manage contact us table
        </h3>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Email </th>
                            <th> Subject </th>
                            <th> Massage </th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of home.contactus">
                            <td>{{contact.id}}</td>
                            <td>{{contact.firstname}}</td>
                            <td>{{contact.lastname}}</td>
                            <td>{{contact.email }}</td>
                            <td>{{contact.subject }}</td>
                            <td>{{contact.massage }}</td>
                            <td class="col-lg-2">
                                <button class="btn btn-danger" (click)="openDeleteDialog(contact.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-dashboard>

<ng-template #callDeleteDialog>
    <h2 class="text-uppercase">Are You Sure You Want To Delete This Contact Data!</h2>
    <mat-dialog-actions align="end">
        <button class="btn btn-danger" mat-dialog-close="yes">Yes</button>
        <button style="margin-left: 10px;" class="btn btn-secondary" mat-dialog-close="no">No</button>
    </mat-dialog-actions>
</ng-template>