<!-- 
    <button class="btn btn-primary" style="color: red;" >submit</button> 
    <li>
        <select formControlName="busnumber">
            <option [ngValue]="null" disabled>Choose bus</option>

            <option *ngFor="let item of busnumber" [ngValue]="item.busnumber"> {{item.busnumber}}</option>
 
        </select>

   
    </li> 
    <li>
        <select formControlName="round">
            <option [ngValue]="null" disabled>Choose round</option>

            <option *ngFor="let item of round" [ngValue]="item.status"> {{item.round}}</option>
 
        </select>

   
    </li>  -->


    <table style="margin: 0 auto;">
        <tr>
    
            <th>student name </th>
            <th>absent status </th>
        </tr>
        <tr *ngFor="let item of homeStudent.student;let i=index">
    
            <td>{{homeStudent.fullName}}</td>
            <td><input type="checkbox" name="absent"></td>               
            <td><button class="btn btn-danger" (click)="sendEmail(item.email)">notify parent</button> </td>
       
    
        </tr>
    </table>






