<app-header></app-header>
<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h1> Contact Us </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="map">
                   

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3382.5642980145494!2d35.8490662155479!3d32.0269140291576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c9f6ad8385f7d%3A0xe7d6abb3657e41de!2sEducational%20growth!5e0!3m2!1sen!2sjo!4v1647096349730!5m2!1sen!2sjo"
                        width="100%" height="420px" frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-1">
                            <div class="contact-info">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <h4>Phone</h4>
                                <span>065343992</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="contact-info">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <h4>Mobile</h4>
                                <span>0779574553</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <form id="contact" action="" method="post"  [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6></h6>
                                <h4>Say <em>Hello</em></h4>
                              
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="name" name="name" id="name" formControlName="fullName" placeholder="Full Name" >
                            
                                <mat-error *ngIf="registerForm.controls['fullName'].hasError('required')">
                                   Name is <strong>required</strong> 
                                </mat-error>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <input type="text" name="email" id="email" formControlName="email" placeholder="Your Email" >
                                <mat-error *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.controls['email'].hasError('required')">
                                    Please enter a valid email
                                </mat-error>
                                <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" id="message" formControlName="message" placeholder="Your Message"></textarea>
                                <mat-error *ngIf="registerForm.controls['message'].hasError('required')">
                                     Message is <strong>required</strong>
                                </mat-error>
                           
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button [disabled]=" !registerForm.valid ">Send  Message  </button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <p class="copyright">Copyright © 2022 Bus Tracking.
            </div>
        </div>
    </div>
</section>