<!--     
               <td> 
                <select formControlName="busnumber">
            <option [ngValue]="null" disabled>Choose  busnumber</option>

            <option *ngFor="let item of home.busnumber1" 
            (change)="ShowAttendance($event)" [ngValue]="busnumber" [(ngModel)]="busnumber"  > {{item.busnumber}}</option>
 
                 </select></td> -->
                 
<!-- <input  type="text" value="username" [(ngModel)]="username" (change)="ShowAttendance($event)" > -->
<!-- <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="DayAttendance()" >Show Student List</button> -->
<p>{{username}}
    {{this.home.TeacherInfo.fullName}}
    {{this.home.TeacherInfo.email}}
    {{this.home.TeacherInfo.phone}}
    {{this.home.TeacherInfo.imagepath}}</p>



<form [formGroup]="CreateForm" class="example-form">
    <table style="margin:0 auto">
        
       
            <tr>
                <th>status</th>
                <th>name </th>
                <th>information </th>
                <th>choose status </th>
                <th>Opreation</th>
            </tr>
            <tr *ngFor="let item of home.TeacherInfo">
            <td>{{item.roundStatus}}</td>
            <td>{{item.name}}</td>
            <td>
                <select formControlName="status">
                    <option [ngValue]="null" disabled>Choose status</option>
                    <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
                </select>
            </td>
            <td> <button class="btn btn-danger"
                (click)="save(item.name, item.dateofattendance , item.busnumber ,home.status.status)"
                cdkFocusInitial>Save</button>
        </td>

       </tr>

    </table>
</form>

            <!-- <td><label  formControlName="name">{{item.name}} </label></td>
                  <td><label  formControlName="dateofattendance">{{item.dateofattendance}} </label></td>
                  <td><label formControlName="busnumber">{{item.busnumber}} </label></td> -->
            <!-- <td><label formControlName="fullName">{{item.fullName}} </label></td> -->

        



           
            <!-- <td>
                   <button class="btn btn-primary" style="color: red;" (click)="openCreatedialog()">Attendance Creation</button> 
                     <button class="btn btn-danger" (click)="openUpdateDailog(att.id,att.dateofattendance, att.status , att.name
                      , att.busnumber)">Update</button> 
                </td> -->

      


<!-- 




<ng-template #callUpdateDailog>
<form [formGroup]="UpdateForm">
    <ul>
        <li>
            <h3 style="color: red;"> 
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter Student name</mat-label>
                    <input type="text" matInput formControlName="name"
                     [(ngModel)]="attData.name">
                  </mat-form-field>
                </h3>
        </li>
        <li>
            <h3 style="color: red;">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter dateofattendance</mat-label>
                    <input type="date" matInput formControlName="dateofattendance"
                     [(ngModel)]="attData.dateofattendance">
                  </mat-form-field>
            </h3>


                 
   
             
       <li>
        <select formControlName="status">
            <option [ngValue]="null" disabled>Choose  status</option>

            <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
 
        </select>

   
    </li> 
       <li>
            <select formControlName="busnumber">
                <option [ngValue]="null" disabled>Choose  busnumber</option>

                <option *ngFor="let item of home.busnumber1" [ngValue]="item.busnumber"> {{item.busnumber}}</option>
     
            </select>

       
        </li> 
    </ul>
    <button (click)="update()">Update</button>
</form>
</ng-template>




<ng-template #callCreateDialog>
<h2 mat-dialog-title> Add student information </h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="CreateForm" class="example-form">
        <ul>

        
            <li>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>dateofattendance </mat-label>
                    <input type="date" matInput formControlName="dateofattendance" placeholder="dateofattendance ">
                    <mat-error *ngIf="CreateForm.controls['dateofattendance'].hasError('required')">
                        xhome is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </li>
  
            <li>
                <select formControlName="name">
                    <option [ngValue]="null" disabled>Choose  name</option>
    
                    <option *ngFor="let item of home.name" [ngValue]="item.name"> {{item.name}}</option>
         
                </select>
    
           
            </li>      
       <li>
        <select formControlName="status">
            <option [ngValue]="null" disabled>Choose  status</option>

            <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
 
        </select>

   
    </li> 
            <li>
                <select formControlName="busnumber">
                    <option [ngValue]="null" disabled>Choose  busnumber</option>

                    <option *ngFor="let item of home.busnumber1" [ngValue]="item.busnumber"> {{item.busnumber}}</option>
         
                </select>
  
           
            </li> 
        </ul>
   
 

   
    </form>



</mat-dialog-content> -->