<!-- <button class="btn btn-primary" style="color: red;" (click)="openCreatedialog()">Create New student  </button> 


    <table style="margin:0 auto">
        <tr>
            <th>id </th>
           <th> dateofattendance </th> 
           <th> status </th>
            <th> name </th>
            <th> busnumber </th>
    
    
        </tr>
        <tr *ngFor="let att of home.attendance">
            <td>{{att.id}}</td>
            <td>{{att.dateofattendance}}</td>
            <td>{{att.status}}</td>
            <td>{{att.name }}</td>
            <td>{{att.busnumber }}</td>
    
         
         
            <td>
              
            </td>
        </tr>
    </table> 



    <ng-template #callselectDialog>
        <h2 mat-dialog-title>Choose Teacher</h2>
        <mat-dialog-content class="mat-typography">
    
            <form [formGroup]="selectForm" class="example-form">
          
                <ul>
 
                <select formControlName="fullName">
                        <option [ngValue]="null" disabled>Choose Teacher Name </option>
    
                        <option *ngFor="let item of homebus.teachers" [ngValue]="item.fullName"> {{item.fullName}}</option>
             
                    </select> 
         
    
                </ul>
            </form>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" (click)="search(homeStudent.TEACHERNAME)" cdkFocusInitial>Save</button>
            </mat-dialog-actions>
    
    
        </mat-dialog-content>
     -->


    <!-- <ng-template #callUpdateDailog>
    
       /<form [formGroup]="UpdateForm">
            <ul>
    
    <select formControlName="status">
        <option [ngValue]="null" disabled>Choose your status</option>
    
        <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
    
    </select>
    
            </ul>
            <button class="btn btn-success" mat-button [mat-dialog-close]="true" (click)="update()">Update</button>
    
        </form>
    
    
    </ng-template> -->


    <!-- --------------------------- -->

    <button class="btn btn-primary" style="color: red;" (click)="openCreatedialog()">Attendance Creation</button> 




<table style="margin:0 auto">
    <tr>
        <th>id </th>
       <th> dateofattendance </th> 
       <th> status </th>
        <th> name </th>
        <th> busnumber </th>


    </tr>
    <tr *ngFor="let att of home.attendance">
        <td>{{att.id}}</td>
        <td>{{att.dateofattendance}}</td>
        <td>{{att.status}}</td>
        <td>{{att.name }}</td>
        <td>{{att.busnumber }}</td>
 
     
        <td>
            <button class="btn btn-danger" (click)="openDeleteDialog(att.id)">Delete</button>
            <button class="btn btn-danger" (click)="openUpdateDailog(att.id,att.dateofattendance, att.status , att.name
             , att.busnumber)">Update</button>
        </td>
    </tr>
</table>


<ng-template #callUpdateDailog>
    <form [formGroup]="UpdateForm">
        <ul>
            <li>
                <h3 style="color: red;"> 
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter Student name</mat-label>
                        <input type="text" matInput formControlName="name"
                         [(ngModel)]="attData.name">
                      </mat-form-field>
                    </h3>
            </li>
            <li>
                <h3 style="color: red;">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Enter dateofattendance</mat-label>
                        <input type="date" matInput formControlName="dateofattendance"
                         [(ngModel)]="attData.dateofattendance">
                      </mat-form-field>
                </h3>
   

                     
       
                 
           <li>
            <select formControlName="status">
                <option [ngValue]="null" disabled>Choose  status</option>

                <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
     
            </select>

       
        </li> 
           <li>
                <select formControlName="busnumber">
                    <option [ngValue]="null" disabled>Choose  busnumber</option>

                    <option *ngFor="let item of home.busnumber1" [ngValue]="item.busnumber"> {{item.busnumber}}</option>
         
                </select>
  
           
            </li> 
        </ul>
        <button (click)="update()">Update</button>
    </form>
</ng-template>



<ng-template #callDeleteDialog>
    <h2>Are You Sure you want to delete this item</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">No</button>
        <button mat-button mat-dialog-close="yes">yes</button>
    </mat-dialog-actions>

</ng-template>

<ng-template #callCreateDialog>
    <h2 mat-dialog-title> Add student information </h2>
    <mat-dialog-content class="mat-typography">

        <form [formGroup]="CreateForm" class="example-form">
            <ul>

            
                <li>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>dateofattendance </mat-label>
                        <input type="date" matInput formControlName="dateofattendance" placeholder="dateofattendance ">
                        <mat-error *ngIf="CreateForm.controls['dateofattendance'].hasError('required')">
                            xhome is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </li>
      
                <li>
                    <select formControlName="name">
                        <option [ngValue]="null" disabled>Choose  name</option>
        
                        <option *ngFor="let item of home.name" [ngValue]="item.name"> {{item.name}}</option>
             
                    </select>
        
               
                </li>      
           <li>
            <select formControlName="status">
                <option [ngValue]="null" disabled>Choose  status</option>

                <option *ngFor="let item of home.status" [ngValue]="item.status"> {{item.status}}</option>
     
            </select>

       
        </li> 
                <li>
                    <select formControlName="busnumber">
                        <option [ngValue]="null" disabled>Choose  busnumber</option>
    
                        <option *ngFor="let item of home.busnumber1" [ngValue]="item.busnumber"> {{item.busnumber}}</option>
             
                    </select>
      
               
                </li> 
            </ul>
       
     
  
       
        </form>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
        </mat-dialog-actions>


    </mat-dialog-content>



    
    
    

    
    
    
 
    