<app-header></app-header>
<section class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">

                    <h6>Welcome to our Website</h6>
                    <h2>Best Place To Track your kids Bus Location <em></em></h2>

                    <div class="main-button-gradient">
                        <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="../assets/images/H2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6> </h6>
                    <h4>Our <em>Vision</em></h4>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="right-image">
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="../assets/images/service-icon-01.png" alt="">
                            </div>
                            <h4>Thinker</h4>
                            <p>We use critical and creative thinking skills to analyze ideas and problems.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="../assets/images/service-icon-02.png" alt="">
                            </div>
                            <h4>Innovator</h4>
                            <p>We seek creative solutions to real-life problems,We value mistakes as learning opportunities.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="../assets/images/service-icon-03.png" alt="">
                            </div>
                            <h4>Well-being</h4>
                            <p>We seek a balance of mind, body and spirit as we grow, We are conscious of our health in the choices we make.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-item">
                            <div class="icon">
                                <img src="../assets/images/service-icon-04.png" alt="">
                            </div>
                            <h4>Communicator</h4>
                            <p>We listen, speak and write effectively, We communicate clearly with others through dialogue and participation.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6></h6>
                    <h4>What is the advantages of our <em>Website?</em></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu">
                                    <div class="active gradient-border"><span>Drivers</span></div>
                                    <div class="gradient-border"><span>Parents</span></div>
                                    <div class="gradient-border"><span>School</span></div>
                                    <div class="gradient-border"><span>Students</span></div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="left-image">
                                                <div>
                                                    <img src="../assets/images/driver1.jpg" alt="" style="width:60%;">
                                                </div>
                                            </div>
                                            <div class="right-content">
                                                <h4>Drivers</h4>
                                                <p>The App Tell the driver about the student order to be picked up and show him The Students details like The pictures and the phone numbers.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="../assets/images/parent1.jpg" alt="" style="width:50%;">

                                            </div>
                                            <div class="right-content">
                                                <h4>Parents</h4>
                                                <p>To monitor , Locate and receive notification about your children during the school bus journey to and from the school.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="../assets/images/school1.jpg" alt="" style="width:50%;">

                                            </div>
                                            <div class="right-content">
                                                <h4>School</h4>
                                                <p>help school administration staff monitor and track the movements and routes of their buses in real-time; ensuring the safety of their students during their daily bus rounds.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="../assets/images/student1.jpg" alt="" style="width:50%;">

                                            </div>
                                            <div class="right-content">
                                                <h4>Students</h4>
                                                <p> system helps the school administration monitor and track the movements of their buses to ensure the safety of students during their transportation to and from school.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="../assets/images/brothers.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>Get the Offer right now!</h6>
                <h4>Up to 30% OFF For Brothers</h4>
                <p></p>
                <div class="white-button">
                    <a href="contact-us.html">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>